/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	/* startje */
	--color-text:#111;
	--color-background-header-ondtdek:#91B37E;
	--color-background-footer-ondtdek:#1A2F38;
	--color-teylers-wit: #F4ECDD;
	--color-collectie-header: #37A9E2;
	--color-collectie-filter: #FFCC01;
    --color-collectie-blauw: #1A2F38
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/*
color-backgroud

background-img blend. 
background-img gradient
*/

body {
	background-color: var(--color-background-footer-ondtdek);
    margin: 0;
}


p{
    color: white;
}


@font-face {
  font-family: 'Larken';
    src: url('../fonts/larkendemo-medium.otf') format('opentype');

}


:root {
	padding: 0;
	margin: 0;
}

header article {
	padding-left: 1em;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	padding-bottom: 5em;
}

header button {
	padding: 0.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	background-color: var(--color-teylers-wit);
	box-shadow: none;
    border: none;
}

header a {
    padding: 0.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	background-color: var(--color-teylers-wit);
	box-shadow: none;
}


header img {
    max-width: 12%;
    max-height: 12%;
    position: absolute;
    left: 0.6rem;
    top: 0.6rem;
}

header section svg {
    max-width: 9%;
    max-height: 9%;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    color: white;
}

h1, h2, h3, h4, h5 {
    font-family: "Larken", sans-serif;
}

header h1{
	grid-row: 5 / 2;
}

header h2{
	grid-row: 2 / 1;
}

h3{
	margin-top: 0em;
	margin-bottom: 0em;
}

/*
main div section  {

	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	
	overflow-y:auto;
	
	translate:0 100%;
	
	transition:.5s;
	
	display:flex;
	flex-direction:column;
	
} */


footer{
	background-color: var(--color-background-footer-ondtdek);
	color:var(--color-teylers-wit)
}

footer img:nth-of-type(1){
	max-width: 45%;
	max-height: 45%;
	padding-top: 4em;
	padding-left: 2em;
}
	
footer article{
    padding-left: 1.5em;
	background-color: var(--color-background-footer-ondtdek);
    padding-right: 2em;
}

footer section{
    background-color: #BD1C1E;
    padding-left: 1.5em;
}

footer section a {
    padding-top: 2em;
}

footer section nav {
    background-color: #BD1C1E;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer article nav svg {
    display: flex;
    justify-content: space-between;
}
/* volgende code gemaakt samen met studentassistent*/
footer article nav svg {
    max-height: 2.4em;
    aspect-ratio: 1; 
    background-color: white;
    color: var(--color-background-footer-ondtdek);
    border-radius: 50%;
    padding-bottom: 0.6em;
    padding-top: 0.6em;
}

footer article input{
    border-color:  1em ,var(--color-teylers-wit);
    background-color: var(--color-background-footer-ondtdek);
    transition: 1s ease-in;
    color: var(--color-teylers-wit);
}

input[type=text]:focus {
  min-width: 100%;
  transition: 1s ease-in;
}

footer button {
    margin-bottom: 2em;
}

footer section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    padding-right: 2em;
}

footer article nav {
	width: 10em;
	display: flex;
	justify-content: space-between;
	margin-top: 1.5em;
}

footer h3 {
	font-weight: normal;
}

footer nav svg:hover {
	scale: 1.5;
	transition: .5s ease-in;
}

footer h3:nth-of-type(2) {
	font-weight: bolder;
}

footer h3:nth-of-type(3) {
	font-weight: bolder;
}

footer article h3 {
	padding-top: 2em;
}

footer button {
	padding: 0.75em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	background-color: var(--color-teylers-wit);
	font-size: large;
	border: none;
}

footer input::placeholder {
  font-size: large;
  opacity: 0.5;
}

footer input{
    padding-top: 1em;
    width: 28em
}

footer ul li input {
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

article nav {
    display: flex;
}


article ul {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button:hover{
	background-color: transparent;
	transition: .5s ease-in;
}

/* code over warning tape is gemaakt met gebruik van AI en met overzicht van een studentassistent */
.warning-tape{
  /* Instelbare variabelen */
  --angle: -45deg;        /* hoek van de strepen */
  --stripe: 14px;        /* breedte per kleur */
  --yellow: #fff;     /* geel */
  --black:  transparent;        /* zwart */

  width: 100%;
  height: 30px;

  background:
    repeating-linear-gradient(
      var(--angle),
      var(--yellow) 0 calc(var(--stripe)),
      var(--black)  calc(var(--stripe)) calc(var(--stripe)*2)
    );
}
